@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
*{
    font-family: 'Courier New', Courier, monospace;

}
 section{
    background-color:rgb(5,14,26);
    color: rgb(204, 214, 246);
    padding-top: 20px;
} 

a:link {
    text-decoration: none;
    color: rgb(204, 214, 246) !important;
  }
a{
    color: rgb(204, 214, 246) !important; 
    font-family: 'Courier New', Courier, monospace;
}

a:hover{
    color: rgb(255, 20, 147) !important;
}



/* nav-bar */
h1{
    font-family: 'Fira Code', monospace;
    color: rgb(204, 214, 246);
}
#landing h2{
    font-family: 'Fira Code', monospace;
    color: rgb(204, 214, 246);
    font-size: 80px;
}
#navbar{
    position: fixed;
    top:0;
    padding-left: 0px;
    z-index: 1030; 
    width:fit-content
}

#navbar .navbar{
    background: rgba(5, 14, 26, 0.9);
    box-shadow: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.navbar-brand{
    font-family: 'Fira Code', monospace;
    color: rgb(255, 20, 147) !important;
}
#nav-about{
    padding-right: 15px;
    text-decoration: none;
    color: rgb(204, 214, 246);
    font-size: 15px;
}
#nav-about:hover{
    color: rgb(255, 20, 147); 
}
#nav-experience{
    padding-right: 15px;
    text-decoration: none;
    color: rgb(204, 214, 246);
    font-size: 15px;
}
#nav-experience:hover{
    color: rgb(255, 20, 147); 
}
#nav-projects{
    padding-right: 15px;
    text-decoration: none;
    color: rgb(204, 214, 246);
    font-size: 15px;
}
#nav-projects:hover{
    color: rgb(255, 20, 147); 
}
#nav-testimonials{
    padding-right: 15px;
    text-decoration: none;
    color: rgb(204, 214, 246);
    font-size: 15px;
}
#nav-testimonials:hover{
    color: rgb(255, 20, 147); 
}
#nav-contact{
    padding-right: 15px;
    text-decoration: none;
    color: rgb(204, 214, 246);
    font-size: 15px;
}
#nav-contact:hover{
    color: rgb(255, 20, 147); 
}
#navbar span{
    font-family: 'Fira Code', monospace;
    color: rgb(255, 20, 147);
    font-size: 15px;
}


/* landing section*/
#landing p{
    color: #8892B0;
}
#landing{
    height: 100vh;
    position: relative;
}
#particles-js{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#landing div.container{
    text-align: justify;
    padding-top: 200px;
}
#landing p.fs-5{
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    margin-bottom: 30px;
    color: #ff1493;
}
#landing h1{
    font-size: 72.7px;
    color: rgb(204 214 246);
}
#landing p{
    font-size: 20px;
}
#socials{
    display: flex;
    flex-direction: column;
    bottom: 18%;
    left: 0;
}
#linkedin{
    width: 46px;
    height: 30px;
    font-size: 1.7em ;
    text-decoration: none;
    color: rgb(204, 214, 246);  
    transition:0.3 linear;
}
#linkedin:hover{
      color: rgb(255, 20, 147);
}
#github{
    width: 46px;
    height: 30px;
    font-size: 1.7em ;
    text-decoration: none;
    color: rgb(204, 214, 246);  
    transition:0.3 linear;
}
#github:hover{
    color: rgb(255, 20, 147);
    animation: bounce 2s;
}

#codepen{
    width: 46px;
    height: 30px;
    font-size: 1.7em ;
    text-decoration: none;
    color: rgb(204, 214, 246);  
    transition:0.3 linear;
}
#codepen:hover{
    color: rgb(255, 20, 147);
}
#twitter{
    width: 46px;
    height: 30px;
    font-size: 1.7em ;
    text-decoration: none;
    color: rgb(204, 214, 246);  
    transition:0.3 linear
}
#twitter:hover{
    color: rgb(255, 20, 147);
}
#facebook{
    width: 46px;
    height: 30px;
    font-size: 1.7em ;
    text-decoration: none;
    color: rgb(204, 214, 246);  
    transition:0.3 linear
}
#facebook:hover {
    color: rgb(255, 20, 147);
}  
ul{
    list-style-type: none;
}
#myEmail{
    transform: rotate(90deg);
    position: fixed;
    bottom: 40%;
    left: 92%; 
    text-decoration: none;
    color: rgb(204, 214, 246) !important;  
    transition:0.3 linear;
    
}
#twitter:hover{
    color: rgb(255, 20, 147);
}
    
#landing #particular{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* about section*/
#about{
    height: 60vh;
}
div.about-container{
    padding-left: 80px !important;
}

#about-info{
    margin-left: 10em;
}
#siyolise .img-fluid{
    width: auto;
    height: 20rem !important;
}
#fixedInfo{
    display: flex;
    justify-content: space-between;
}

 h1 {
    overflow: hidden;
    text-align: center;
  }
  
  h1:before,
  h1:after {
    background-color: #ff1493;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h1:after {
    left: 0.5em;
    margin-right: -50%;
  }

/* skills section*/



#skill-image{
    height: 130px !important;
    width: 350px;
    font-size: 8em;
    display: flex;
    justify-content: center;
}
.card-body{
    padding-left: 130px !important;
}
#skills h1{
    padding-left:80px;
}
#skill-cards .col-md-4{
    width: 250px !important;
} 
#skill-cards{
    
}  

/* experience section*/
#experience{
    height: 48vh;
}
#nav-pill{
    margin-left:18em;
}
.nav-pills{
    align-items: start;
}
#arrow-icon{
    color: rgb(255, 20, 147);
}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    background-color: transparent !important;
    color: rgb(255, 20, 147) !important;
}
.nav-pills.nav-link{
    color: rgb(204, 214, 246) !important;
}
#date{
    font-family: 'Fira Code', monospace;
     font-size: 12px;
}


/* testimonial section */
#testimonials {
    z-index: -1;
}
.badge{
    font-size: 16px !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: normal !important;
    color: #ccd6f6 !important;
}
.carousel-indicators.active{
    background-color: #ff1493;
}

/* projects section*/

#project-info{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-end
}
#project-info-two{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start
}

.project-desc{
    width:130%;
    background-color:rgb(5,14,26);
    display: flex;
    align-items: flex-end;
}
#project-link{
   
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(204, 214, 246);
}

/* contact section */
#contact{
    height: 90vh;
    
}
#about-area {
    margin-top: 150px;
}
iframe{
    width:50vh;
    height:45vh
} 
#icon{
    padding-right: 0px;
    font-size: 1.7em;
    height: 60px;
    width: 54px;
    padding-left: 25px
}
#text{
    height: 150px;
}
#submit{
    background-color: rgb(255, 20, 147);
}

/* footer */
footer{
    background-color:rgb(5,14,26);
    height:70px !important;
}
footer.text-center{
    text-decoration: none;
}



/* media queries */
@media only screen and (max-width: 1400px) {
    [class*="col-"] { width: 100%;}
.project-info{
    width:100%
}
.project-image{
    width:100%
}
}

@media screen and (max-width: 1400px){
    #landing ul{
        display: flex;
        margin-bottom: 10rem;
        margin-inline: auto;
    }
}
