@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
section{
    background-color:rgb(5,14,26);
    color: rgb(163, 160, 160);
    padding-top: 20px;
}


/* nav-bar */
h1{
    font-family: 'Fira Code', monospace;
    color: rgb(255, 20, 147);
}
#navbar{
    position: fixed;
    top:0;
    padding-left: 0px;
    z-index: 1030;
}

#navbar .navbar{
    background: rgba(5, 14, 26, 0.9);
    box-shadow: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.navbar-toggler-icon{
    color: rgba(163, 160, 160,0.7);
}
#nav-link{
    padding-right: 15px;
    text-decoration: none;
    color: rgb(163, 160, 160);
    font-size: 13px;
}
#navnumber{
    font-family: 'Fira Code', monospace;
    color: rgb(255, 20, 147);
}

/* landing section*/

#landing{
    height: 100vh;
}
#landing div.container{
    text-align: justify;
    padding-top: 200px;
}
#landing p.fs-5{
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    margin-bottom: 30px;
}
#landing h1{
    font-size: 72.7px;
    color: rgb(204 214 246);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#landing p{
    font-size: 20px;
}
#socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 18%;
    left: 0;
}
#smlink{
    width: 46px;
    height: 30px;
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(163, 160, 160);
}
ul{
    list-style-type: none;
}
#myEmail{
    transform: rotate(90deg);
    position: fixed;
    bottom: 40%;
    left: 92%; 
    color: rgb(163, 160, 160);
    font-family: 'Fira Code', monospace;
}


/* about section*/
section #about{
    margin-top: 35px;
}
#siyolise .container-fluid{
    width: 150px;
    height: 150px;
}
#fixedInfo{
    display: flex;
    justify-content: space-between;
}

/* skills section*/

#skill-image{
    height: 250px; 
    width: 350px;
}
   

/* experience section*/
section #experience{
    margin-top: 35px;
}
.nav-pills{
    align-items: start;
}
#arrow-icon{
    color: rgb(255, 20, 147);
}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    background-color: transparent !important;
    color: rgb(255, 20, 147) !important;
}
.nav-pills.nav-link{
    color: rgb(163, 160, 160) !important;
}
#date{
    font-family: 'Fira Code', monospace;
     font-size: 12px;
}

/* testimonial section */
#testimonials {
    z-index: -1;
}
div .text{
    width: 600px;
    text-align: auto;
    margin-right: 0;
}

/* projects section*/

#project-info{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-end
}
#project-info-two{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start
}

.project-desc{
    width:130%;
    background-color:rgb(5,14,26);
    display: flex;
    align-items: flex-end;
}
#project-link{
   
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(163, 160, 160);
}

/* contact section */

section #contact{
    height: 60vh;
}
iframe{
    width:50vh;
    height:45vh
} 
#icon{
    padding-right: 0px;
    font-size: 1.7em;
    height: 60px;
    width: 54px;
    padding-left: 25px
}
#text{
    height: 150px;
}
#submit{
    background-color: rgb(255, 20, 147);
}

/* footer */
footer{
    background-color:rgb(5,14,26);
}
footer.text-center{
    text-decoration: none;
}



/* media queries */
@media only screen and (max-width: 768px) {
    [class*="col-"] { width: 100%;}
}